body { 
        background-color: #18171A;
        display: flex;
        justify-content: center;
        padding-top: 20px;
}

h1 {
    color:  #E8EAED;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    border-top: outset 10px  #4D6D63;
    border-left: inset 10px transparent;
    border-bottom: inset 10px  #4D6D63 ;
    border-right: outset 10px  transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

h3 {
    border-top-left-radius: 10% ;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #4D6D63 ;
    font-family: 'Roboto', sans-serif;
    color: #EEEAE6;
}

