body { 
        background-color: #18171A;
        justify-content: center;
        padding-top: 20px;
        margin-left: 30%;
        margin-right: 30%;
}

h1 {
    color:  #E8EAED;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    border-top: outset 10px  #4D6D63;
    border-left: inset 10px transparent;
    border-bottom: inset 10px  #4D6D63 ;
    border-right: outset 10px  transparent;
    display: flex;
    justify-content: center;
}


h3 {
    background-color: #4D6D63;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    color: #EEEAE6;
    width: 21%;
}

input:focus {
                background-color: #4D6D63;
                text-align:end;
}

div { 
                color:#839692 ;
                background-color: #839692;
                font-family: 'Roboto', sans-serif;
                color: black;
                padding-left: 30%;
                border: solid 1px #56796E;
                border-radius: 2px;
                justify-content:;
}
